#s07 {
    background-color: #a7674b;
    .bg {
        background: url(../imgs/bg.jpg) repeat;
        width: 100%;
        overflow: hidden;
        img {
            display: block;
            min-height: calc(0.44vw + 13.6px);
            min-width: 100vw;
        }
    }

    .link_group {
        margin: 0 auto;
        a { 
            display: block; 
            width: 100%;
        }
    }

    .title {
        text-align: center;
        .pc { width: calc(16.52vw + 203.13px); }
        .mobile { width: 81.68vw; }
    }
    
    @media ( min-width:768px ) {
        padding-bottom: calc(2.562vw + 15.33px);
        .title {
            margin-top: calc(1.413vw + 19.14px);
            margin-bottom: calc(2.385vw + 29.682px);
        }
        .link_group {
            width: calc(36.484vw + 439.8px);
            display: flex;
            justify-content: space-between;

            .link_item { width: 23.89%; }
        }
    }
    
    @media ( max-width:768px ) {
        padding-bottom: calc(2.562vw + 15.33px);
        .title {
            margin-top: 9vw;
            margin-bottom: 7.8vw;
        }
        .link_item {
            margin: 0 auto;
            width: 89vw;
            &.active { 
                display: block; 
                .hover {
                    .a { display: none!important; }
                    .b { display: block!important; }
                }
            }
            &:not(.active) { display: none; }
        }

        .btn_arrow {
            margin-top: 3vw;
            text-align: center;
            .next { margin-left: 3vw; }
            img { width: 15vw; }
        }
    }
}